/* turi ip ip ip
*/ 

/* @font-face {
  font-family: quicksand;
  src: url(misc/quicksand-regular.ttf);
} */

@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

html {
  scrollbar-width: thin;
  scrollbar-color: lightpink;
}

body{
  font-family: 'Fira Code', monospace;
  background-color: #f5f5f5;
}

.dark-mode {
  background-color: #222024;
  color: #f5f5f5;
}

a {
  color: #fd797c;
}

hr {
  width: 70% !important;
  margin-top: 10px;
  color: #c4c4c4;
}

.caret {
  animation: blinker 0.8s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.main {
    padding: 3px;
    max-width: 80%;
    margin: auto;
    text-align: justify;
    font-size: 15pt;
    border-radius: 5px;
}

.avatar { 
  margin-top: 10px;
  vertical-align: middle;
  width: 150px;
  height: 150px;
  border-radius: 80%;
  transition: 0.7s;
}

.avatar:hover {
  transform: scaleX(-1);
}

.hed {
  text-align: center;
  font-size: 30px;
}

.h1 {
  font-size: 37px;
}


 .header {
  overflow: hidden;
  padding: 20px 10px;
}

 /* Style the header links */
.header a {
  float: left;
  color: #111111;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 20px;
  line-height: 25px;
  border-radius: 4px;
  transition: 0.5s;
}

.header a:hover {
  background-color: #ff95af;
}
  
.header-right {
  float: right;
}

.contact {
	align-items: center;
  vertical-align: middle;
}

.contact a {
  text-decoration: none;
}

.github {  
  background-color: #525252;
  padding: 8px;
  border-radius: 10px;
}

.github a{
  text-decoration: none;
  color: white;
  font-size: 15px;
}

#js {
  text-align: center;
}


#li {
  background-color: #fdfdfd;
  color: #111111;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  border-radius: 5px; 
  padding: 20px;
  margin: 10px;
  margin-left: 50px; 
  width: 80%;
  overflow: auto;
}

#posts a{
  text-decoration: none;
}
  
.warning {
        width: 100%;
        padding: 10px 0;
        background-color: yellow;
        color: black;
}

#donate img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

/* body {
  background: url("https://c.tenor.com/YB3M7ApTeMkAAAAC/skeleton-dance.gif") no-repeat center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  image-rendering: -moz-crisp-edges;
}
