/* turi ip ip ip
*/ 

body{
  font-family: Helvetica;
  background-color: #f0eae0;
  padding: 10px;
}

.main {
    font-family: Helvetica;
    padding: 3px;
    max-width: 50%;
    margin: auto;
    text-align: justify;
    font-size: 15pt;
    border-radius: 5px;
    }

.avatar {
  vertical-align: middle;
  width: 110px;
  height: 110px;
  border-radius: 100%;
}

.avatar:hover {
  transform: scaleX(-1);
}

.hed {
  text-align: center;
}


 .header {
  overflow: hidden;
  padding: 20px 10px;
}

 /* Style the header links */
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 20px;
  line-height: 25px;
  border-radius: 4px;
}

.header-right {
  float: right;
}

.contact {
	align-items: center;
  vertical-align: middle;
}

.warning {
        width: 100%;
        padding: 10px 0;
        background-color: red;
      }

.blink {
            animation: blinker 1.5s linear infinite;
            color: red;
            font-family: sans-serif;
        }
        @keyframes blinker {
            50% {
                opacity: 0;
            }
        }