/* turi ip ip ip
*/ 

/* @font-face {
  font-family: quicksand;
  src: url(misc/quicksand-regular.ttf);
} */

@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans+Tagalog&display=swap');

html {
  scrollbar-width: thin;
}

body{
  font-family: 'Fira Code', monospace;
  background: radial-gradient(circle, #eee2e2, #f5f5f5);
  color: #222024;
}

.dark-mode {
  background-color: #222024;
  color: #f5f5f5;
}

a {
  color: #fd797c;
}

hr {
  height:2px;
  border: 0;
  background: linear-gradient(to right, #f8b3b4, #f08284);
  width: 69%;
}
aside {
  padding-left: 15px;
  margin-left: 15px;
  writing-mode: vertical-rl;
  float: left;
}

.caret {
  animation: blinker 0.8s linear infinite;
}

@keyframes blinker {
  69% {
    opacity: 0;
  }
}

#baybayin {
  font-family: 'noto sans tagalog';
}

.main {
    padding: 3px;
    max-width: 90%;
    margin: auto;
    text-align: justify;
    font-size: 15pt;
    border-radius: 5px;
}

.avatar { 
  margin-top: 10px;
  vertical-align: middle;
  width: 150px;
  height: 150px;
  border-radius: 80%;
  transition: 0.7s;
}

.avatar:hover {
  transform: scaleX(-1);
}

.hed {
  margin: auto;
  padding: 3px;
  max-width: 69%;
  text-align:center; 
  margin-right: auto;
  font-size: 30px; 
}

.h1 {
  font-size: 37px;
}


.header {
  overflow: hidden;
  padding: 20px 10px;
}

 /* Style the header links */
.header a {
  float: left;
  color: #111111;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 20px;
  line-height: 25px;
  border-radius: 4px;
  transition: 0.5s;
}

.header a:hover {
  background-image: linear-gradient( rgb(255, 242, 242), rgb(255, 149, 175));
}
  
.header-right {
  float: right;
}

.contact {
	align-items: center;
  vertical-align: middle;
}

.contact a {
  text-decoration: none;
}

.github {  
  background-color: #525252;
  padding: 8px;
  border-radius: 10px;
}

.github a{
  text-decoration: none;
  color: white;
  font-size: 15px;
}

#js {
  text-align: center;
}


#li {
  background-image: linear-gradient(150deg, rgba(255,0,0,0), rgba(248, 163, 164, 0.308));
  color: #111111;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  border-radius: 5px; 
  padding: 20px;
  margin: 10px;
  margin-left: 50px; 
  width: 80%;
  overflow: auto;
  transition: transform 0.5s ease;
}

#li:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.8);
}

#posts a{
  text-decoration: none;
}
  
#donate {
  max-width: 90%;
  margin: auto;
}

#donate img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px; 
  transition: transform 0.5s ease;
}

#donate img:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.8);
}

/* body {
  background: url("https://c.tenor.com/YB3M7ApTeMkAAAAC/skeleton-dance.gif") no-repeat center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  image-rendering: -moz-crisp-edges;
}
